body{

}

.mdl-card {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#sign-info {
  color: #00BCD4;
  font-size: 120%;
}

#user-info {
  padding: 10px;
  width: 216px;
  box-sizing: border-box;
}

#user-pic {
  padding:10px;
  width: 72px;
  box-sizing: border-box;
}

input(type="password") {
  font:large;
  font-size:150%;
}

.demo-avatar {
    width: 60px;
    height: 60px;
    padding: 0px;
}
.message-pic{
  width:30px;
  height:30px;
  padding: 0px;
  margin:0px 10px 0px 0px;
}
.userpic{
  margin:0px 0px 0px 10px;
}

#user-info ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
#user-info ul li {
    font-family: Roboto;
    line-height: 24px;
}

#message-content ul {
  list-style: none;
  margin: 0px;
  padding: 20px 20px 20px 0px;
  height: 300px;
  overflow: auto;
}
#message-content ul li {
    font-family: Roboto;
    font-size: 120%;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 24px;
}
#message-content ul li:last-child {
    margin: 0px;
}
#message-content ul .example-chat-username {
    margin-right: 10px;
}
#message-content ul .usermessage{
  margin-right: 0px;
  margin-left: 10px;
}
.mine{
  text-align: right;
}
#imginfo{


}
